@model HotelManagement.Models.Room
@using HotelManager.Models
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@if (Session["role"] != null)
{
    if ((Role)Session["role"] == Role.Supervisor)
    {
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Room</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.roomNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.roomNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.roomName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.roomName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.adultCap)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.adultCap)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.childrenCap)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.childrenCap)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.basePrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.basePrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.specialPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.specialPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.luxuryIndex)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.luxuryIndex)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Fshij" class="btn btn-info" /> |
                    <input type="button" class="btn btn-info" value="Ktheu te lista" onclick="location.href='@Url.Action("Index", "Room")'" />
                </div>
            }
        </div>
    }

}
else
{
    <div class="alert alert-danger">Ju nuk keni akses ketu!</div>
}
