@model HotelManagement.Models.Room
@using HotelManager.Models
@{
    ViewBag.Title = "View";
}
<div style="width:400px;margin:auto;">
<h2>Dhoma e selektuar</h2>

<div >
    <img src="@Url.Content(Model.photoPath)" width="370" height="256" alt="Photo">
</div>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Numri i dhomes
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.roomNumber)
                </dd>

                <dt>
                    Emertimi
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.roomName)
                </dd>

                <dt>
                    Kapaciteti per te rritur
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.adultCap)
                </dd>

                <dt>
                    Kapaciteti per femije
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.childrenCap)
                </dd>

                <dt>
                    Cmimi
                </dt>

                <dd>
                    $@Html.DisplayFor(model => model.basePrice)
                </dd>

            </dl>
        </div>

    </div>