@{
    ViewBag.Title = "Home Page";
}
@model HotelManager.Models.ReservationFilter
@Styles.Render("~/bundles/css")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<body>
    <div class="wrapper">
        <div class="header-section">
            <!--Welcome secton-->

            <div class="welcome-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-5">
                            <div class="booking-box">
                                <div class="booking-title">
                                    <h3>Rezervo tani.</h3>
                                    <p>Tashmë me një klik, nga pajisja juaj smart.</p>
                                </div>
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="form-group">
                                            
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.arrivalDate, new { htmlAttributes = new { @class = "date-picker", @type = "text" } })
                                                @Html.ValidationMessageFor(model => model.arrivalDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.departionDate, new { htmlAttributes = new { @class = "date-picker" } })
                                                @Html.ValidationMessageFor(model => model.departionDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.adultNum, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.adultNum, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.childNum, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.childNum, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Create" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div>
                                    @Html.ActionLink("Back to List", "Index")
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-7">
                            <div class="welcome-text">
                                <h2>
                                    <span>Mirësevini në Hotel</span> <span class="coloring">Chondo</span>
                                </h2>
                                <h1 class="cd-headline clip">
                                    <span class="cd-words-wrapper coloring">
                                        <b class="is-visible">Lokacion</b>
                                        <b>Ambient</b>
                                        <b>Shërbim</b>
                                    </span>
                                    <span>PERFEKT</span>
                                </h1>
                                <p class="welcome-desc">Tek ne do të gjeni një ambient modern, të ngrohtë dhe shumë familjar, si në shtëpinë tuaj.</p>
                                <div class="explore">
                                    <a href="#">SHIKO MË SHUMË</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header section end -->
    <!--Our Room start-->
    <div class="our-room text-center ptb-80 white-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb-80">
                        <h2><span>Dhomat</span> tona</h2>
                    </div>
                </div>
            </div>
            <div class="our-room-show">
                <div class="row">
                    <div class="carousel-list">
                        <div class="col-md-4">
                            <div class="single-room" style="max-width:30%;margin:20px">
                                <div class="room-img">
                                    <a href="#"><img src="@Url.Content("/Content/images/room/room1.jpg")" alt=""></a>
                                </div>
                                <div class="room-desc">
                                    <div class="room-name">
                                        <h3><a href="#">Dhoma Deluxe</a></h3>
                                    </div>
                                    <div class="room-rent">
                                        <h5>€ 200 / <span>Nata</span></h5>
                                    </div>
                                    <div class="room-book">
                                        <a href="#">Rezervo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-room" style="max-width:30%;margin:20px">
                                <div class="room-img">
                                    <a href="#"><img src="@Url.Content("/Content/images/room/room2.jpg")" alt=""></a>
                                </div>
                                <div class="room-desc">
                                    <div class="room-name">
                                        <h3><a href="#">Dhoma "Basic"</a></h3>
                                    </div>
                                    <div class="room-rent">
                                        <h5>€ 100 / <span>Nata</span></h5>
                                    </div>
                                    <div class="room-book">
                                        <a href="#">Rezervo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-room" style="max-width:30%;margin:20px">
                                <div class="room-img">
                                    <a href="#"><img src="@Url.Content("/Content/images/room/room3.jpg")" alt=""></a>
                                </div>
                                <div class="room-desc">
                                    <div class="room-name">
                                        <h3><a href="#">Dhoma 3</a></h3>
                                    </div>
                                    <div class="room-rent">
                                        <h5>€ 150 / <span>Nata</span></h5>
                                    </div>
                                    <div class="room-book">
                                        <a href="#">Rezervo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Our room end-->
    <!--Our services start-->
    <div class="our-sevices text-center ptb-80 white_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb-80">
                        <h2> <span>Shërbimet</span> tona</h2>
                        <p>Ne sigurohemi që shërbimet e ofruara të jenë të rangut më të lartë. Kënaqësia juaj është detyra jonë.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-services-list">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-services">
                            <div class="services-img">
                                <img src="@Url.Content("/Content/images/services/services1.jpg")" alt="">
                                <div class="services-title">
                                    <h2>Mëngjesi dhe bufeja</h2>
                                </div>
                                <div class="services-hover-desc">
                                    <div class="services-hover-inner">
                                        <div class="services-hover-table">
                                            <div class="services-hover-table-cell">
                                                <h2>Mëngjesi dhe bufeja</h2>
                                                <p>Bufeja jonë përfshin ushqime nga më të ndryshmet, nga ato më të hasurat deri te pjatat tradicionale të zonës. Për mëngjesin tashmë ofrohet shërbim dhe në dhomë.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-services">
                            <div class="services-img">
                                <img src="@Url.Content("/Content/images/services/services2.jpg")" alt="">
                                <div class="services-title">
                                    <h2>Kënd lojërash</h2>
                                </div>
                                <div class="services-hover-desc">
                                    <div class="services-hover-inner">
                                        <div class="services-hover-table">
                                            <div class="services-hover-table-cell">
                                                <h2>Kënd lojërash</h2>
                                                <p>Fëmijët tuaj mund të luajë, ndërkoh që ju shijoni pamjen e qyetit nga bar-i i Hotel CHONDO.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-services">
                            <div class="services-img">
                                <img src="@Url.Content("/Content/images/services/services3.jpg")" alt="">
                                <div class="services-title">
                                    <h2>Recepsion 24/7</h2>
                                </div>
                                <div class="services-hover-desc">
                                    <div class="services-hover-inner">
                                        <div class="services-hover-table">
                                            <div class="services-hover-table-cell">
                                                <h2>Recepsion 24/7</h2>
                                                <p>Stafi ynë është gjithmonë në dispozicionin tuaj për çdo lloj kërkese apo shqetësimi të mundshëm.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-services">
                            <div class="services-img">
                                <img src="@Url.Content("/Content/images/services/services4.jpg")" alt="">
                                <div class="services-title">
                                    <h2>Guida</h2>
                                </div>
                                <div class="services-hover-desc">
                                    <div class="services-hover-inner">
                                        <div class="services-hover-table">
                                            <div class="services-hover-table-cell">
                                                <h2>Guida</h2>
                                                <p>Nëse jeni kurioz rreth bukurive natyrore të Tropojës, stafi yne ju ofron edhe shërbimin e guidës kundrejt tarifave shumë konkuruese.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Our services end-->
    <!--Our gallery start-->
    <div class="our-gallery text-center ptb-80 white_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title mb-80">
                        <h2><span>Galeria</span> jonë</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-gallery-photo">
            <div class="single-gallery">
                <img src="@Url.Content("/Content/images/gallery/g-1.jpg")" alt="">
            </div>
            <div class="single-gallery">
                <img src="@Url.Content("/Content/images/gallery/g-2.jpg")" alt="">
            </div>
            <div class="single-gallery">
                <img src="@Url.Content("/Content/images/gallery/g-3.jpg")" alt="">
            </div>
            <div class="single-gallery">
                <img src="@Url.Content("/Content/images/gallery/g-4.jpg")" alt="">
            </div>
            <div class="single-gallery">
                <img src="@Url.Content("/Content/images/gallery/g-5.jpg")" alt="">
            </div>
        </div>
    </div>
    <!--Our gallery end-->
    </div>
</body>
<script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
<script src="~/Scripts/jquery-ui-1.13.0.js"></script>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script>
    $(function () {
        $(".date-picker").datepicker();
    });
</script>