@model HotelManager.Models.Person
@using HotelManager.Models
@{
    ViewBag.Title = "Delete";
}
@if (Session["email"] != null)
{
    if ((Role)Session["role"] == Role.Supervisor)
    {
        <h2>Fshij</h2>

        <h3>A jeni i sigurt per ndryshimet qe doni te beni?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Surname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Surname)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" class="btn btn-info" value="Fshij" class="btn btn-default" />
                    <input type="button" class="btn btn-info" value="Ktheu te lista" onclick="location.href='@Url.Action("Index", "Identity")'" />
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-danger">Ju nuk e keni kete privilegj</div>
    }
}
else
{
    <div class="alert alert-danger">Duhet te kyceni si fillim</div>
}
