@model IEnumerable<HotelManager.Models.Person>
@using HotelManager.Models
@{
    ViewBag.Title = "View";
}
@if (Session["email"] != null)
{
    if ((Role)Session["role"] == Role.Supervisor)
    {
        <h2>Punonjesit</h2>
        if (ViewBag.ErrorMessage != null)
        {
            <h3 class="alert alert-danger">@ViewBag.ErrorMessage</h3>
        }
        <p>
            <input type="button" class="btn btn-info" value="Shto punonjes" onclick="location.href='@Url.Action("Register", "Identity")'" />
        </p>
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.Email != Session["email"])
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role)
                            </td>
                            <td>
                                <span class="btn btn-info">@Html.ActionLink("Ndrysho", "Edit", new { id = item.Id })</span>
                                <span class="btn btn-info">@Html.ActionLink("Fshij", "Delete", new { id = item.Id })</span>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                </tr>
            </tfoot>
            

        </table>
    }
    else
    {
        <h3 class="alert alert-danger" style="text-align:center;">Ju nuk keni akses ketu</h3>
    }
}
else
{
    <h3 class="alert alert-danger" style="text-align:center;">Ju nuk keni akses ketu</h3>
}