@model IEnumerable<HotelManager.Models.Person>
@using HotelManager.Models
@{
    ViewBag.Title = "View";
}
@if (Session["email"] != null)
{
    if ((Role)Session["role"] == Role.Supervisor)
    {
        <h2>Punonjesit</h2>
        if (ViewBag.ErrorMessage != null)
        {
            <h3 class="alert alert-danger">@ViewBag.ErrorMessage</h3>
        }
        <p>
            <input type="button" class="btn btn-info" value="Shto punonjes" onclick="location.href='@Url.Action("Create", "Identity")'" />
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.Email != Session["email"])
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            <input type="button" class="btn btn-info" style="max-width:20%" value="Ndrysho" onclick="location.href='@Url.Action("Edit", "Identity")'" /> 
                            <input type="button" class="btn btn-info" style="max-width:20%" value="Fshij" onclick="location.href='@Url.Action("Delete", "Identity")'" />
                        </td>
                    </tr>
                }
            }

        </table>
    }
    else
    {
        <h3 class="alert alert-danger" style="text-align:center;">Ju nuk keni akses ketu</h3>
    }
}
else
{
    <h3 class="alert alert-danger" style="text-align:center;">Ju nuk keni akses ketu</h3>
}