@model HotelManager.Models.PersonLoginRequest

@{
    ViewBag.Title = "Kycu";
}

<h2>Kycu</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    if (Session["email"] == null)
    {
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kycu" class="btn btn-info" />
            </div>
        </div>
        @if (ViewBag.ErrorMessage != null) { 
            <h4 class="alert alert-danger" style="text-align:center">@ViewBag.ErrorMessage</h4>
        }
    </div>
    }
    else
    {
                    <div class="alert alert-warning">Jeni i kycur tashme</div>
                }
    }

<div>
    <input type="button" class="btn btn-info" value="Ktheu ne kryefaqe" onclick="location.href='@Url.Action("Index", "Home")'" />
</div>
