<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="top-header sticky-header">
        <div class="top-header-inner">
            <div class="container">
                <div class="mgea-full-width">
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <div class="logo mt-15">
                                <a href="index.html"><img src="images/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-10 hidden-xs">
                            <div class="header-top ptb-10">
                                <div class="adresses">
                                    <div class="phone">
                                        <p>Tel. <span>+355 44 13 123 </span></p>
                                    </div>
                                    <div class="email">
                                        <p>Email: <span>info@chondohotel.com</span></p>
                                    </div>
                                </div>
                                <div class="social-links">
                                    <a href="#">Kyçu</a>
                                    <a href="#">Regjistrohu</a>
                                </div>
                            </div>
                            <div class="menu mt-25">
                                <div class="menu-list hidden-sm hidden-xs">
                                    <nav>
                                        <ul>
                                            <li>@Html.ActionLink("Kryefaqe", "Index", "Home")</li>
                                            <li>@Html.ActionLink("Dhomat", "Index", "Room")</li>
                                            <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                                            <li>@Html.ActionLink("Rreth nesh", "About", "Home")</li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile menu start -->
        <div class="mobile-menu-area hidden-lg hidden-md">
            <div class="container">
                <div class="col-md-12">
                    <nav id="dropdown">
                        <ul>
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Dhomat", "Index", "Room")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Mobile menu end -->
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <!--Footer start -->
            <div class="footer ptb-100">
                <div class="footer-bg-opacity"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="single-footer mt-0">
                                <div class="logo">
                                    <img src="images/logo/logo.png" alt="">
                                </div>
                                <div class="f-adress">
                                    <p><span>Adreasa:</span><br>Agim Ramadani St.<br>Tropojë, Shqipëri</p>
                                </div>
                                <div class="hotel-contact">
                                    <p><span>Tel:</span>+355 44 13 123</p>
                                    <p><span>Email:</span>Info@Chondohotel.Com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 hidden-sm col-xs-6">
                            <div class="single-footer">
                                <h3>Lidhje të shpejta</h3>
                                <div class="quick-item">
                                    <ul>
                                        <li><a href="#">Dhomat</a></li>
                                        <li><a href="#">Galeria</a></li>
                                        <li><a href="#">Rezervo</a></li>
                                        <li><a href="#">Regjistrohu</a></li>
                                        <li><a href="#">Kyçu</a></li>
                                        <li><a href="#">Kontakt</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer end -->
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
