@model IEnumerable<HotelManager.Models.Reservation>
@using HotelManager.Models
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moneyPaid)
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.roomNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arrivalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moneyPaid)
        </td>
    </tr>
}

</table>
