@model IEnumerable<HotelManager.Models.ReservationDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.reservationReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.arrivalDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.departionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moneyPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cardHolder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cardNumber)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.reservationReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roomNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.arrivalDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moneyPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cardHolder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cardNumber)
        </td>
    </tr>
}

</table>
