@model IEnumerable<HotelManager.Models.ReservationDetails>
@using HotelManager.Models
@{
    ViewBag.Title = "Index";
}

@if (Session["role"] != null)
{
    if ((Role)Session["role"] == Role.Supervisor || (Role)Session["role"] == Role.Manager)
    {
        <body>
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Referenca
                        </th>
                        <th>
                            Numri i dhomes
                        </th>
                        <th>
                            Data e mberritjes
                        </th>
                        <th>
                            Data e largimit
                        </th>
                        <th>
                            Kosto
                        </th>
                        <th>
                            Klienti
                        </th>
                        <th>
                            Numri i kartes
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Referenca
                        </th>
                        <th>
                            Numri i dhomes
                        </th>
                        <th>
                            Data e mberritjes
                        </th>
                        <th>
                            Data e largimit
                        </th>
                        <th>
                            Kosto
                        </th>
                        <th>
                            Klienti
                        </th>
                        <th>
                            Numri i kartes
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.reservationReference)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.roomNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.arrivalDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.departionDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.moneyPaid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cardHolder)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cardNumber)
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        </body>
    }
    else
    {
        <div class="alert alert-danger">Ju nuk keni akses ketu!</div>
    }
}
else
{
    <div class="alert alert-danger">Ju nuk keni akses ketu!</div>
}
